.hero-card{
    background-color: rgb(118, 168, 239);
    width: 100%;
    height: 100%;

}
.hero-card article{
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #252B42;
    gap: 10px;
}
.hero-card .product-count{
    color: #2DC071;
 }
.hero-card .product-name{
    font-size: 24px;
}

.hero-card p{
    margin: 0;
    font-size: 14px;

}