.hero {
    padding: 5%;
    display: flex;
    flex-direction: row;
    height: 30rem;
    gap: 10px;
}
.hero main{
    width: 50%;
}

.hero aside{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;

}

.hero aside section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 50%;

}